In [ ]:
#importing essential libraries
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
#importing our data
df = pd.read_csv('https://query.data.world/s/dkx73ip6rrpozl7lzcdvqyunqirp5u')

In [ ]:
#sneak peak 
df.head(2)

  Date and Time of initial call  ... ACC Intake Number
0        09/24/2018 11:00:00 AM  ...             42420
1        09/23/2018 12:45:00 PM  ...               NaN

[2 rows x 22 columns]

In [ ]:
#rows and columns
df.shape

(422, 22)

In [ ]:
#finding the types of our datasets
df.dtypes

Date and Time of initial call        object
Date and time of Ranger response     object
Borough                              object
Property                             object
Location                             object
Species Description                  object
Call Source                          object
Species Status                       object
Animal Condition                     object
Duration of Response                float64
Age                                  object
Animal Class                         object
311SR Number                         object
Final Ranger Action                  object
# of Animals                        float64
PEP Response                         object
Animal Monitored                     object
Rehabilitator                        object
Hours spent monitoring              float64
Police Response                      object
ESU Response                           bool
ACC Intake Number                    object
dtype: object

In [ ]:
df.isnull().sum()

Date and Time of initial call         0
Date and time of Ranger response      0
Borough                               0
Property                              0
Location                             66
Species Description                   4
Call Source                           0
Species Status                        4
Animal Condition                     84
Duration of Response                  0
Age                                   0
Animal Class                          0
311SR Number                        168
Final Ranger Action                   0
# of Animals                          8
PEP Response                          2
Animal Monitored                      2
Rehabilitator                       398
Hours spent monitoring              366
Police Response                       2
ESU Response                          0
ACC Intake Number                   238
dtype: int64

In [ ]:
#these 2 columns contain a lot of NAN values
df.drop(columns=['Rehabilitator','Hours spent monitoring'], inplace= True)

In [ ]:
df.columns

Index(['Date and Time of initial call', 'Date and time of Ranger response',
       'Borough', 'Property', 'Location', 'Species Description', 'Call Source',
       'Species Status', 'Animal Condition', 'Duration of Response', 'Age',
       'Animal Class', '311SR Number', 'Final Ranger Action', '# of Animals',
       'PEP Response', 'Animal Monitored', 'Police Response', 'ESU Response',
       'ACC Intake Number'],
      dtype='object')

#Cleaning the Variables

In [ ]:
df['Date and Time of initial call']

0      09/24/2018 11:00:00 AM
1      09/23/2018 12:45:00 PM
2      09/21/2018 06:30:00 PM
3      09/21/2018 09:00:00 AM
4      09/20/2018 02:00:00 PM
                ...
417    06/05/2018 12:00:00 AM
418    06/01/2018 12:00:00 PM
419    05/16/2018 09:00:00 AM
420    05/02/2018 09:30:00 AM
421    05/07/2018 01:30:00 PM
Name: Date and Time of initial call, Length: 422, dtype: object

In [ ]:
df['Date and Time of initial call'] = pd.to_datetime(df['Date and Time of initial call'], format='%m/%d/%Y %I:%M:%S %p')
df['Date and time of Ranger response'] = pd.to_datetime(df['Date and time of Ranger response'], format='%m/%d/%Y %I:%M:%S %p')
df['Date and Time of initial call']

0     2018-09-24 11:00:00
1     2018-09-23 12:45:00
2     2018-09-21 18:30:00
3     2018-09-21 09:00:00
4     2018-09-20 14:00:00
              ...
417   2018-06-05 00:00:00
418   2018-06-01 12:00:00
419   2018-05-16 09:00:00
420   2018-05-02 09:30:00
421   2018-05-07 13:30:00
Name: Date and Time of initial call, Length: 422, dtype: datetime64[ns]

In [ ]:
df['Borough'].value_counts()

Manhattan        330
Queens            38
Staten Island     19
Brooklyn          18
Bronx             17
Name: Borough, dtype: int64

In [ ]:
A = list(df['Property'].unique())
A.sort()
A

['Abingdon Square',
 'Alley Pond Park',
 'Alley Pond Park Tennis Courts Near Court 16',
 'Altamont House',
 'Astoria Park',
 'Baisley Pond Park',
 'Battery Park City',
 'Bedford Playground',
 'Bradys Pond Park',
 'Brookville Park',
 'Bryant Park',
 'Cadman Plaza Park',
 'Central  Park',
 'Central Park',
 'Chelsea Park',
 'Churchill School',
 'Coffey Park',
 'Colonel Charles Young Playground',
 'Conference House Park',
 'Crotona Park',
 'Cunningham Park',
 'Evergreen Park',
 'Ferry Point Park',
 'Flushing Meadows Corona Park',
 'Forest Park',
 'Fort Greene Park',
 'Fort Totten Park',
 'Franklin D. Roosevelt Boardwalk and Beach',
 'Haffen Park',
 'Hester St. Playground',
 'Highbridge Recreation Center',
 'Hudson River Park',
 'Inwood Hill Park',
 'James Finley Walk',
 'John V. Lindsay East River Park',
 'Kissena Corridor Park',
 'Magenta Playground',
 'Marine Park',
 'McCarren Park',
 'Mellet Playground',
 'Merriam Playground',
 'Midland Beach',
 'Morningside Park',
 'Ocean Breeze Park',
 'Ocean Breeze Track & Field Athletic Complex',
 "Owl's Head Park",
 'PS 153',
 'Pelham Bay Park',
 'Playground 103 CIII',
 'Prospect Park',
 "Randall's Island Park",
 'Riverside Park',
 'Rockaway Beach and Boardwalk',
 'Sheltering Arms Playground',
 'Shore Road Park',
 'Socrates Sculpture Park',
 'South Beach',
 'Southern Stables',
 'Space Time Playground',
 "St. Michael's Playground",
 'Theodore Roosevelt Park',
 'Thomas Jefferson Recreation Center',
 'Tompkins Square Park',
 'Underhill Playground',
 'Van Cortlandt Park',
 'Washington Market Park',
 'West Harlem Piers',
 'Willowbrook Park',
 "Wolfe's Pond Park"]

In [ ]:
df['Property'].replace({'Alley Pond Park Tennis Courts Near Court 16': 'Alley Pond Park', 
                        'Central  Park': 'Central Park'}, inplace = True)

In [ ]:
df['Species Description'] = df['Species Description'].str.capitalize()

In [ ]:
B = list(df['Species Description'].unique())
newlist = [x for x in B if pd.isnull(x) == False and x != 'nan']
newlist.sort()
newlist

['2 black back gulls and 1 pigeon',
 'American oystercatcher',
 'Banded rock pigeon',
 'Beagle - dog',
 'Bearded dragon',
 'Bird of prey',
 'Black backed gull',
 'Black racer snake',
 'Black skimmer',
 'Blue jay',
 'Canada goose',
 'Cat',
 'Chicken',
 "Cooper's hawk",
 'Coopers hawk',
 'Cormorant',
 'Crow',
 'Deer',
 'Dog',
 'Dog, yorkshire terrier',
 'Double crested cormorant',
 'Dutch blue love bird',
 'Eastern gray squirrel',
 'Gerbil',
 'Green heron',
 'Gull',
 'Herring gull',
 'Homing pigeon',
 'House sparrow',
 'Hummingbird',
 'Iguana',
 'Infant squirrel',
 'Juvenile herring gull',
 'Kestrel',
 'Kittens',
 'Mallard',
 'Mallard duck',
 'Mallard duckling',
 'Mallard ducklings',
 'Mourning dove',
 'Opossum',
 'Painted turtle',
 'Peregrine falcon',
 'Pet rabbit',
 'Pigeon',
 'Rabbit',
 'Raccoon',
 'Raccoons',
 'Red bat',
 'Red tail',
 'Red tailed hawk',
 'Red tailed-hawk',
 'Red-eared slider',
 'Red-eared slider turtle',
 'Red-tailed hawk',
 'Rock dove',
 'Skunk',
 'Squirrel',
 'Squirrels',
 'Swan',
 'Turtle',
 'White tailed deer',
 'White-tailed deer doe']

In [ ]:
df['Species Description'].replace({'2 black back gulls and 1 pigeon': 'Gull',
                                   'Dog, Yorkshire terrier': 'Dog',
                                   'Red bat': 'Bat',
                                   'Peregrine falcon': 'Falcon',
                                   'pet rabbit': 'Rabbit',
                                   'Mallard': 'Duck',
                                   'Mallard Duck': 'Duck',
                                   'Mallard Ducklings': 'Duck',
                                   'Mallard duck': 'Duck',
                                   'Mallard duckling': 'Duck',
                                   'bird of prey': 'Hawk',
                                   "Cooper's hawk": 'Hawk',
                                   'Coopers hawk': 'Hawk',
                                   'Red-Tailed Hawk': 'Hawk',
                                   'Red-tailed Hawk': 'Hawk',
                                   'Red tailed-hawk': 'Hawk',
                                   'Red-tailed hawk': 'Hawk',
                                   'Red tailed hawk': 'Hawk',
                                   'Red tail': 'Hawk',
                                   'Red Tailed Hawk': 'Hawk',
                                   'Red tailed Hawk': 'Hawk',
                                   'Black backed gull': 'Gull',
                                   '2 black back gulls and 1 pigeon': 'Gull',
                                   'Juvenile Herring Gull': 'Gull',
                                   'gull' : 'Gull',
                                   'Herring Gull': 'Gull',
                                   'Herring gull': 'Gull',
                                   'dutch blue love bird': 'Bird',
                                   'RACCOON': 'Raccoon',
                                   'racoon': 'Raccoon',
                                   'raccoon': 'Raccoon',
                                   'Raccoons': 'Raccoon',
                                   'Racoon': 'Raccoon',
                                   'Canada Goose': 'Goose',
                                   'Canada goose': 'Goose',
                                   'double crested cormorant': 'Cormorant',
                                   'Double crested cormorant': 'Cormorant',
                                   'White-tailed deer doe': 'Deer',
                                   'White Tailed Deer': 'Deer',
                                   'Banded Rock Pigeon': 'Pigeon',
                                   'Homing Pigeon': 'Pigeon', 
                                   'Red-eared slider turtle': "Turtle",
                                   'Red-eared slider': 'Turtle',
                                   'Painted turtle': 'Turtle',
                                   'Eastern gray squirrel' : 'Squirrel',
                                   'Squirrels': 'Squirrel',
                                   'Infant Squirrel': 'Squirrel',
                                   'Black racer snake': 'Snake',
                                   'Mourning dove': 'Dove',
                                   'Rock dove': 'Dove',
                                   'Beagle - dog': 'Dog',
                                   'Dog, yorkshire terrier': 'Dog' }, inplace = True)

In [ ]:
df['Species Description'].value_counts().sort_index()

American oystercatcher      1
Banded rock pigeon          1
Bat                         1
Bearded dragon              1
Bird of prey                1
Black skimmer               1
Blue jay                    1
Cat                         2
Chicken                     4
Cormorant                   5
Crow                        1
Deer                        3
Dog                         3
Dove                        4
Duck                        6
Dutch blue love bird        1
Falcon                      2
Gerbil                      1
Goose                       6
Green heron                 1
Gull                       12
Hawk                       23
Homing pigeon               1
House sparrow               2
Hummingbird                 1
Iguana                      1
Infant squirrel             1
Juvenile herring gull       1
Kestrel                     1
Kittens                     2
Mallard ducklings           1
Opossum                     3
Pet rabbit                  1
Pigeon                      2
Rabbit                      1
Raccoon                   299
Skunk                       2
Snake                       1
Squirrel                    9
Swan                        1
Turtle                      6
White tailed deer           1
Name: Species Description, dtype: int64

In [ ]:
df['Call Source'].value_counts()

Conservancies/"Friends of" Groups    194
Employee                              93
Central                               65
Public                                41
Other                                 24
Observed by Ranger                     5
Name: Call Source, dtype: int64

In [ ]:
df['Call Source'].replace({'Conservancies/"Friends of" Groups':'Conservancies'}, inplace = True)
df['Call Source'].value_counts()

Conservancies         194
Employee               93
Central                65
Public                 41
Other                  24
Observed by Ranger      5
Name: Call Source, dtype: int64

In [ ]:
df['Species Status'].value_counts()

Native      391
Domestic     21
Exotic        4
Invasive      2
Name: Species Status, dtype: int64

In [ ]:
df['Species Status'].replace({'Invasive' : 'Non Native',
                              'Exotic':   'Non Native', 
                              'Domestic': 'Native'}, inplace = True)

In [ ]:
df['Species Status'].value_counts()

Native        412
Non Native      6
Name: Species Status, dtype: int64

In [ ]:
df['Animal Condition'].value_counts()

Unhealthy    193
Healthy       68
Injured       41
DOA           36
Name: Animal Condition, dtype: int64

In [ ]:
df['Duration of Response'].value_counts().sort_index()

0.00       6
0.05       2
0.10       1
0.15       2
0.25      19
0.30       2
0.35       1
0.50      52
0.75      24
1.00     101
1.25      14
1.50      82
1.75      11
2.00      57
2.25       2
2.50      12
2.75       2
3.00      11
3.05       1
3.50       5
4.00      10
4.50       2
5.00       1
6.00       1
12.00      1
Name: Duration of Response, dtype: int64

In [ ]:
df['Age'].value_counts()

Adult                      248
Juvenile                   141
Infant                      27
Juvenile;#Adult              3
Adult;#Juvenile              2
Adult;#Juvenile;#Infant      1
Name: Age, dtype: int64

In [ ]:
df['Age'].replace({'Adult;#Juvenile;#Infant': 'Adult',
                   'Adult;#Juvenile': 'Adult',
                   'Juvenile;#Adult': 'Juvenile',
                   'Infant': 'Juvenile'}, inplace = True)

In [ ]:
df['Age'].value_counts()

Adult       251
Juvenile    171
Name: Age, dtype: int64

In [ ]:
df['# of Animals'].value_counts()

1.0    381
2.0     11
0.0     10
3.0      7
4.0      2
7.0      2
5.0      1
Name: # of Animals, dtype: int64

In [ ]:
df.drop(columns=['# of Animals'], inplace= True)

In [ ]:
df['Animal Class'].value_counts()

Small Mammals-RVS                   294
Birds                                49
Raptors                              26
Small Mammals-non RVS                22
Domestic                             15
Terrestrial Reptile or Amphibian      6
Deer                                  4
Domestic;#Birds                       2
Domestic;#Small Mammals-non RVS       1
Marine Reptiles                       1
Fish-numerous quantity                1
Small Mammals-RVS;#Raptors            1
Name: Animal Class, dtype: int64

In [ ]:
K = list(df['Animal Class'].unique())
newlist = [x for x in K if pd.isnull(x) == False and x != 'nan']
newlist.sort()
newlist

['Birds',
 'Deer',
 'Domestic',
 'Domestic;#Birds',
 'Domestic;#Small Mammals-non RVS',
 'Fish-numerous quantity',
 'Marine Reptiles',
 'Raptors',
 'Small Mammals-RVS',
 'Small Mammals-RVS;#Raptors',
 'Small Mammals-non RVS',
 'Terrestrial Reptile or Amphibian']

In [ ]:
df['Animal Class'].replace({
                            'Deer' : 'Mammals',
                            'Domestic;#Birds': 'Birds',
                            'Domestic;#Small Mammals-non RVS': 'Mammals',
                            'Fish-numerous quantity': 'Fish',
                            'Marine Reptiles': 'Reptile',
                            'Raptors': 'Birds',
                            'Small Mammals-RVS': 'Mammals',
                            'Small Mammals-RVS;#Raptors': 'Birds',
                            'Small Mammals-non RVS': 'Mammals',
                            'Terrestrial Reptile or Amphibian': 'Amphibian'}, inplace = True)

In [ ]:
df[df['Animal Class'] == 'Domestic']

    Date and Time of initial call  ...  ACC Intake Number
21            2018-09-11 14:30:00  ...              50316
22            2018-09-11 08:30:00  ...                NaN
23            2018-09-11 10:40:00  ...                NaN
33            2018-09-06 14:15:00  ...                NaN
47            2018-09-03 15:30:00  ...                NaN
65            2018-08-31 10:30:00  ...  40180/40181/40182
76            2018-08-26 12:30:00  ...              39503
83            2018-08-25 11:38:00  ...                NaN
159           2018-08-14 13:45:00  ...              38182
243           2018-08-02 14:45:00  ...                NaN
245           2018-08-03 07:30:00  ...                NaN
282           2018-07-30 09:00:00  ...              43984
351           2018-07-18 20:35:00  ...                NaN
385           2018-07-13 10:43:00  ...                NaN
394           2018-07-08 09:40:00  ...              40827

[15 rows x 20 columns]

In [ ]:
df.iloc[[21,23,33,65,76,83,159,245,282,394],11] = 'Mammals'

In [ ]:
df.iloc[[351,47,22],11] = 'Birds'

In [ ]:
df.iloc[[243,385],11] = 'Reptile'

In [ ]:
df['Animal Class'].value_counts()

Mammals      331
Birds         81
Amphibian      6
Reptile        3
Fish           1
Name: Animal Class, dtype: int64

#Missing Values

In [ ]:
df.isnull().sum()

Date and Time of initial call         0
Date and time of Ranger response      0
Borough                               0
Property                              0
Location                             66
Species Description                   0
Call Source                           0
Species Status                        0
Animal Condition                      0
Duration of Response                  0
Age                                   0
Animal Class                          0
311SR Number                        168
Final Ranger Action                   0
PEP Response                          0
Animal Monitored                      0
Police Response                       0
ESU Response                          0
ACC Intake Number                   238
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

#Categorical variables


categ_var = df[['Species Description', 'Species Status', 'Animal Condition', 'PEP Response', 'Animal Monitored', 'Police Response']]
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent').fit(categ_var)
df[['Species Description', 'Species Status', 'Animal Condition', 'PEP Response', 'Animal Monitored', 'Police Response']]= imputer.transform(categ_var)